body {
   /*background-color: #f5f5f5;*/
}
@media screen and (min-width: 992px) {
    .col-text {
      border-left: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 10px;
    }
}

@media screen and (max-width: 992px) {
    .col-text {
      border-bottom: 1px solid #d8d8d8;
      border-left: 1px solid #d8d8d8;
      padding-bottom: 10px;
    }
    section {
        padding-top: 30px;
    }
}

.custom-table table tr th,.custom-table table tr td {
    text-align: center;

}
.custom-table td input.form-control {
    border: 0px solid #ccc;
    height: 25px;
}

.custom-table table {
    border: 2px solid #ddd;

}

.custom-table tbody tr td {
  border: 1px solid #ddd;
  padding: 0;
}

/*.custom-table tbody tr td:nth-child(3) {*/
/*  border: none;*/
/*}*/

.custom-table tbody tr td:first-child {
  vertical-align: middle;
  font-weight: bold;
  font-size: 11pt;
}

.custom-table tbody input {
  border-radius: 0;
}

.custom-table thead tr th {
  border: 2px solid #ddd;
}

.custom-table .table > thead > tr > th {
  vertical-align: middle;
  font-size: 11pt;
  padding: 0;
}

hr {
  border-top: 2px solid #ddd;
}
.custom-table td {
  padding: 0;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ring {
  border: 2px solid #f5f5f5;
}

.ring:hover {
  cursor: pointer;
  border: 2px solid black;
}

.ring-active {
  border: 2px solid black;
}

.ring img {
  width: 60px;
  padding: 4px;
}
