<template>
  <section class="pt-3">
    <div class="container-fluid">
      <div class="row px-3">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-12">
              <h5 class="text-center">Прибор FРM-04</h5>
            </div>
            <div class="col-12">
              <LabCanvas ref='canvas' :times="data.t"></LabCanvas>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-12 row col-text p-0 pb-2 m-0">
              <transition name="fade" appear  mode="out-in">
                <p v-if="checked" key="1" class="alert alert-primary col-10 offset-1 mt-2 " role="alert">
                  Протокол сохранён
                </p>
                <div v-else key="2" class="col-12 p-0 m-0 row">
                  <div class="custom-table col-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="">
                            № Измерения
                          </th>
                          <th scope="">
                            I, м
                          </th>
                          <th scope="">
                            t, c
                          </th>
                          <th scope="">
                            n
                          </th>
                          <th scope="">
                            T, c
                          </th>
                          <th scope="">
                            g, м*с<sup>-2</sup>
                          </th>
                          <th scope="">
                            g<sub>ср</sub>, м*с<sup>-2</sup>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="index in 6">
                          <td scope="row">{{index}}</td>
                          <td class="form-group">
                            <input type="text" v-model="answer.I[index-1]" class="form-control" disabled>
                          </td>
                          <td class="form-group">
                            <input type="text" v-model="answer.t[index-1]" class="form-control">
                          </td>
                          <td class="form-group">
                            <input type="text" :value="answer.n" class="form-control" disabled>
                          </td>
                          <td class="form-group">
                            <input type="text" v-model="answer.T[index-1]" class="form-control">
                          </td>
                          <td class="form-group">
                            <input type="text" v-model="answer.g[index-1]" class="form-control">
                          </td>
                          <td class="form-group">
                            <input type="text" v-model="answer.gCP" class="form-control">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-xs-6 col-sm-4">
                    <h2 class="text-center">Дано</h2>
                    <ol>
                      <li>π(Пи) = 3.14</li>
                      <li class="text-danger">Ошибок = {{ errors }}</li>
                    </ol>
                  </div>
                </div>
              </transition>

              <div class="ml-3 d-flex flex-wrap">
                <button class="btn btn-primary flex-fill mr-1 mt-1" data-toggle="modal" data-target=".bd-example-modal-lg">Открыть теорию</button>
                <button class="btn btn-success flex-fill mr-1 mt-1" @click="checkAnswer()" :disabled="complete">Проверка результатов</button>
                <button class="btn btn-primary mr-1 flex-fill mt-1" @click="saveProtocol()" :disabled="!complete || checked">Сохранить протокол</button>
                <button class="btn btn-danger flex-fill mr-1 mt-1" @click="goToFio()">Назад</button>
                <input type="file" nwsaveas="lab25" hidden id="savefile" accept=".lab"/>
              </div>
            </div>
            <div class="col-12" style="border-left: 1px solid #d8d8d8; height: 52vh; overflow-x: hidden; overflow-y: auto">
              <h3 class="text-center pt-3">
                <strong>Алгоритм пользования программой</strong>
              </h3>
              <ol>
                <li> Перед тем, как приступить к выполнению лабораторной работы - в обязательном порядке ознакомьтесь с теоритическим материалом, нажав кнопку "Открыть теорию".</li>
                <li> Затем проведите 5 опытов подряд, запуская установку клавишей "Запустить", как только в установке время установится в определенное значение, нажмите клавишу "Сброс" для начала нового опыта.</li>
                <li> Результаты каждого опыта необходимо зафиксировать в таблицу. Внимание! Каждое значение необходимои записать в таком виде, в котором оно предоставляется на установке, вплоть до 3-ех знаков после точки (разделяющий символом между целой частью и дробной в числе является точка).</li>
                <li> Далее необходимо заполнить таблицу расчетными данными, нужно определить период колебаний для каждого опыта и ускорение g, и после подсчитать среднее ускорение g.</li
                <li> После выполнения всех опытов (всего их должно 6) и успешно пройденных проверок результатов -  сохраните свою работу, нажав на кнпоку "Сохранить протокол". Данный протокол необходимо продемонстрировать вашему преподавателю. </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Методичка в окне -->
    <Met></Met>
  </section>
</template>

<script>
import Met from './Met.vue'
import LabCanvas from './canvas/LabCanvas.vue'
export default {
  name: 'lab',
  data: function () {
    return {
      data: {},
      answer: {
        I: [0.30, 0.32, 0.34, 0.36, 0.38, 0.40],
        t: [],
        n: 10,
        T: [],
        g: [],
        gCP: null
      },
      checked: false,
      errors: 0,
      isComplete: 0,
      complete: false
    }
  },
  components: {
    Met,
    LabCanvas
  },
  mounted () {
    this.data = this.$parent.data
    // this.$refs.canvas.data.times = this.data.t
    this.errors = 0
    Object.keys(this.data).length < 1 ? this.goToFio() : null
    for (let key in this.data) {
      if (this.data[key] === null || this.data[key] === undefined || this.data[key].leading < 1) {
        this.goToFio()
      }
    }
  },
  methods: {
    checkAnswer () {
      this.isComplete = 0
      this.answer.I.length = 6
      this.answer.t.length = 6
      this.answer.T.length = 6
      this.answer.g.length = 6
      this.data.I.forEach((i, index) => {
        if (Number(i) !== Number(this.answer.I[index])) {
          this.errors++
          this.isComplete++
          console.log(1)
        }
      })
      this.data.t.forEach((t, index) => {
        if (Number(t) !== Number(this.answer.t[index])) {
          this.errors++
          this.isComplete++
          console.log(2)
        }
      })
      this.data.T.forEach((T, index) => {
        if (Number(T) !== Number(this.answer.T[index])) {
          this.errors++
          this.isComplete++
          console.log(3)
        }
      })
      this.data.g.forEach((g, index) => {
        if (Number(g) !== Number(this.answer.g[index])) {
          this.errors++
          this.isComplete++
          console.log(4)
        }
      })
      if (Number(this.answer.gCP) !== this.data.gCP) {
        this.errors++
        this.isComplete++
        console.log(5)
      }
      if (this.isComplete === 0) {
        this.complete = true
        this.isComplete = 0
        console.log(6)
      }
    },
    saveProtocol () {
      let crypto = require('crypto')
      let algorithm = 'aes-256-ctr'
      let password = 'd6F3Efeq'
      let cipher = crypto.createCipher(algorithm, password)
      let protocol = []
      protocol[0] = 'lab25_1.0'
      protocol[1] = {name: this.$parent.name, group: this.$parent.group, errors: this.errors}
      protocol[2] = this.data
      protocol = JSON.stringify(protocol)
      let crypted = cipher.update(protocol, 'utf8', 'hex')
      crypted += cipher.final('hex')
      protocol = crypted
      let fs = require('fs')
      let chooser = document.querySelector('#savefile')
      chooser.click()
      let self = this
      chooser.addEventListener('change', function (evt) {
        fs.writeFile(this.value, protocol, (err) => {
          if (err) {
            throw err
          } else {
            self.checked = true
          }
        })
      })
    },
    goToFio () {
      this.$router.push({ path: '/' })
    }
  }
}
</script>
