<template>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 80%">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">«Определение момента инерции твердого тела»</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body px-5">
          <h2 class="text-center">Лабораторная работа №25</h2>
          <h5 class="text-center">
            <strong>«Определение ускорения свободного падения при помощи универсального маятника FPM-04»</strong>
          </h5>
          <p>
            <strong>Цель работы:</strong> Исследование гармонического колебания математического маятника.
            Исследование гармонического колебания физического маятника
          </p>
          <p><strong>Обеспечивающие средства: </strong> универсальный маятник FPM-04.</p>
          <h3 class="text-center text-uppercase">
            <strong>Теоретическое введение</strong>
          </h3>
          <p>Математическим маятником (рисунок 1) называется материальная точка, подвешенная на невесомой и нерастяжимой нити</p>
          <img src="../../static/form/1.png" alt="" height="300" width="auto" class="center-block">
          <p class="text-center">Рисунок 1 – Математический маятник</p>
          <p>Пусть m – масса точки, l – длина нити. Отклоним нить на некоторый угол α и предоставим маятник самому себе.
            Под действием составляющей F2 силы тяжести mg маятник будет возвращаться в положение равновесия (α=0).
            Если отклонение маятника вправо считать положительным, то силу F2 следует брать со знаком минус,
            так как она направлена в другую сторону. Из рисунка 1 видно, что</p>
          <p class="text-center font-weight-bold">F<sub>2</sub> = -m*g*sina</p>
          <p>
            При малых углах отклонение (α≤5°÷7°)
          </p>
          <p class="text-center font-weight-bold">sina = a и F<sub>2</sub> = -m*g*a</p>
          <p>
            Теория показывает, что под действием этой силы маятник будет совершать колебательное гармоническое движение.
            Период этих колебаний зависит от длины нити l и ускорения свободного падения g:
          </p>
          <img src="../../static/form/2.png" alt="" height="70" width="auto" class="center-block">
          <p>
            Общий вид универсального маятника FPM-04 представлен на рисунке 3.
            Основание (1) оснащено регулируемыми ножками (2), которые позволяют выравнивать прибор.
            В основании закреплена колонка (3), к которой присоединены кронштейн (4) и нижний кронштейн (5) с фотоэлектрическим датчиком (6).
          </p>
          <p>После освобождения воротка (11) верхний кронштейн можно поворачивать вокруг колонки.
            Затягивание воротка (11) фиксирует кронштейн в любом произвольном положении.
            С одной стороны кронштейна (4) находится математический маятник (7), с другой на вмонтированных вкладышах оборотный маятник (8).
          </p>
          <p>Длина математического маятника регулируется при помощи воротка (9) и измеряется при помощи шкалы на колонке (3).</p>
          <p>Оборотный маятник представляет собой стальной стержень, на котором закреплены две направленных друг к другу лезвиями опорных призмы (12) и два ролика (13).</p>
          <p>На стержне через 10 мм выточены кольцевые нарезки, служащие для точного определения длины оборотного маятника
            (расстояние между опорными призмами). Опорные призмы и ролики можно перемещать вдоль оси стержня и фиксировать
            в любом положении.Эти элементы выполнены так, что их размер вдоль стержня является кратным 10 мм,
            а фиксирующие воротки размещены таким образом, чтобы при помощи кольцевых нарезок можно было их наглухо блокировать.</p>
          <img src="../../static/form/3.png" alt="" height="400" width="auto" class="center-block">
          <p class="text-center">Рисунок 3 – Универсальный маятник FPM-04</p>
          <p>Нижний кронштейн вместе с фотоэлектрическим датчиком можно перемещать вдоль колонки и фиксировать в любом произвольном положении.</p>
          <p>Виды лицевой и боковой панелей миллисекундомера FPM-14 показаны на рисунке 3.</p>
          <p>На лицевой панели универсального миллисекундомера находятся следующие управляющие клавиши:</p>
          <ul>
            <li>1.	W<sub>1</sub> – (сеть) – включатель сети. При нажатии этой клавиши включение напряжения сигнализируется свечением цифровых индикаторов (высвечивающих нули) и свечением лампочки фотоэлектрического датчика</li>
            <li>2.	W<sub>2</sub> – (сброс) – установка нуля измерителя. Нажатие этой клавиши вызывает сброс схем миллисекундомера FPM-14 и генерирование сигнала разрешения на измерение</li>
            <li>3.	W<sub>4</sub> – (стоп) – окончание измерения. Нажатие клавиши вызывает генерирование сигнала разрешения на окончание процесса подсчета</li>
          </ul>
          <h3 class="text-center"><strong> ПОРЯДОК ВЫПОЛНЕНИЯ РАБОТЫ</strong></h3>
          <p>Чтобы подготовить прибор к измерениям, необходимо:</p>
          <ul>
            <li>проверить выравнивание прибора</li>
            <li>включить вилку сетевого шнура измерителя в питающую сеть</li>
            <li>нажать переключатель (сеть), проверить, все ли индикаторы измерителя показывают цифру нуль и горит ли лампочка фотоэлектрического датчика</li>
          </ul>
          <p>Прибор готов к работе непосредственно после включения сетевого напряжения и не нуждается в нагреве.</p>
          <p><strong>Задание</strong></p>
          <p>Определение ускорения свободного падения математического маятника</p>
          <ul>
            <li>Нижний кронштейн вместе с фотоэлектрическим датчиком установить в нижней части колонки так, чтобы верхняя грань кронштейна показывала на шкале длину 30 см. Затянуть вороток, фиксируя фотоэлектрический датчик в избранном положении</li>
            <li>Поворачивая верхний кронштейн, поместить над датчиком математический маятник.</li>
            <li>Вращая вороток на верхнем кронштейне, установить длину математического маятника. Внимание! Черта на шарике должна быть продолжением черты на корпусе фотоэлектрического датчика. Привести математический маятник в движение, отклоняя шарик на 4°-5° от положения равновесия</li>
            <li>Нажать кнопку – СБРОС</li>
            <li>После подсчета измерителем около 9 колебаний нажать клавишу – СТОП, повторить измерения при длинах маятника 32, 34, 36, 38, 40 см</li>
            <li>Результаты записывать в таблицу 1</li>
            <li>
              Определить период колебаний математического маятника по формуле
              <img src="../../static/form/4.png" alt="" height="100" width="auto" class="center-block">
              где t –продолжительность колебаний в секундах, n – количество измеренных полных колебаний.
            </li>
            <li>По шкале прибора определить длину l маятника</li>
            <li>По формуле определить ускорение g:
              <img src="../../static/form/5.png" alt="" height="100" width="auto" class="center-block">
            </li>
          </ul>
          <h3 class="text-center"><strong> КОНТРОЛЬНЫЕ ВОПРОСЫ И ЗАДАНИЯ</strong></h3>
          <p>1.	Какие маятники вы знаете, и какие из них имеются в данной лаборатории?</p>
          <p>2.	Написать уравнение гармонических колебаний и дать определение параметров колебательного движения.</p>
          <p>3.	Что называется приведенной длиной физического маятника?</p>
          <p>4.	Привести примеры использования маятниковых систем в технике.</p>
          <p>5.	Как зависит ускорение свободного падения от широты местности. Дать поясняющий чертеж.</p>
          <p>6.	Изменяется ли ход часов с металлическим маятником при повышении температуры, и если да, то как?</p>
          <p>7.	За какую часть периода тело, совершающее гармонические колебания, проходит весь путь от среднего положения до крайнего?
            Первую половину пути? Вторую половину пути?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  module.exports = {}
</script>

<style>
p {
  text-indent: 20px;
}
</style>
