<template>
  <div class="container">
    <div class="row">

      <div class="col-12 p-1 mt-2">
        <div class="card">
          <div class="card-body">
            <h4 class="text-success"><strong class="text-dark">ФИО:</strong> {{protocol[1].name}}</h4>
            <h4 class="text-success"><strong class="text-dark">Группа:</strong> {{protocol[1].group}}</h4>
            <p class="text-danger" style="text-indent: 0px;">Ошибки: {{protocol[1].errors}}</p>
          </div>
        </div>
      </div>

      <div class="col-12 p-1 mt-2">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="" width="30">
                    № Измерения
                  </th>
                  <th scope="">
                    I, м
                  </th>
                  <th scope="">
                    t, c
                  </th>
                  <th scope="">
                    n
                  </th>
                  <th scope="">
                    T, c
                  </th>
                  <th scope="">
                    g, м*с<sup>-2</sup>
                  </th>
                  <th scope="">
                    g<sub>ср</sub>, м*с<sup>-2</sup>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="index in 6">
                  <td scope="row">{{index}}</td>
                  <td>{{ protocol[2].I[index - 1] }}</td>
                  <td>{{ protocol[2].t[index - 1] }}</td>
                  <td>{{ protocol[2].n }}</td>
                  <td>{{ protocol[2].T[index - 1] }}</td>
                  <td>{{ protocol[2].g[index - 1] }}</td>
                  <td>{{ protocol[2].gCP }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12 p-1 mt-2">
        <button class="btn btn-primary" @click="goToFio()">Назад</button>
        <button class="btn btn-danger" @click="exit()">Закрыть</button>
      </div>

    </div>
  </div>
</template>

<script>
import gui from 'nw.gui'
export default {
  name: 'protocol',
  data: function () {
    return {
      name: '',
      group: '',
      protocol: []
    }
  },
  mounted () {
    if (this.$parent.protocol[0] !== 'lab25_1.0' || this.$parent.protocol[0] === undefined || this.$parent.protocol[0] === null) {
      alert('Неверный протокол')
      this.$router.push({ path: '/' })
    }
    if (this.$parent.protocol[1].name === undefined) {
      alert('Неверный протокол')
      this.$router.push({ path: '/' })
    }
    this.protocol = this.$parent.protocol
  },
  methods: {
    exit () {
      gui.App.quit()
    },
    goToFio () {
      this.$router.push({ path: '/' })
    }
  }
}
</script>
