<template>
  <div id="app">
    <transition name="fade" appear  mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'app',
  data: function () {
    return {
      name: '',
      group: '',
      protocol: [],
      data: {}
    }
  },
  mounted () {
    this.data = {
      I: [0.30, 0.32, 0.34, 0.36, 0.38, 0.40],
      t: [11.077, 11.437, 11.796, 12.142, 12.466, 12.791],
      n: 10,
      T: [1.1077, 1.1437, 1.1796, 1.2142, 1.2466, 1.2791],
      g: [9.643, 9.648, 9.637, 9.630, 9.644, 9.642],
      gCP: 9.640
    }
  },
  methods: {
  // Методы
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
.card {
  transition: all 0.5s;
}
.card-enter, .card-leave-to
/* .card-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: scale(0);
}
.card-enter-to {
  opacity: 1;
  transform: scale(1);
}
.card-leave-active {
  /*position: absolute;*/
}
.card-move {
  opacity: 1;
  transition: all 0.5s;
}
</style>
